body {
    background-color: #ddd;
    text-align: center;
    padding-top: 20px;
    max-width: 100%;
    max-height: 100%;
}

h1 {
    margin: 5px 0;
    text-align: center;
}

h1 {
    margin: 5px 0;
    text-align: center;
}

img {
    width: 100%;
    max-height: 80%;
}

img.spinner {
    width: 24px;
}

img.icon {
    width: 48px;
}


input.my-range {
    width: 80%;
    padding-top: 22px;
}

input.my-range::-webkit-slider-thumb {
    background-color: green;
    height: 36px;
    width: 36px;
    margin-top: -14px;
}

input.my-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    background: #333;
    border-radius: 1.3px;
}

p.timer {
    margin: 0;
    padding: 0;
}

a.num {
    font-size: 80px;
    padding: 30px 50px;
    margin: 20px;
}

p#code {
    text-align: center;
}

.speed {
    cursor: pointer;
}